*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
 
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-left: 30px;
}

.nav-logo{
    font-size: 20px;
}
.nav-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links ul li a:hover{
    text-decoration: underline;
}

.nav{
    display:flex;
    background:linear-gradient(135deg, #059669 100%);
    padding: 60px 0;
    color: white;
    margin: 50px;
    border-radius: 12px;
    height: 450px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-img img{
    display: flex;
    flex: 1;
    height: 450px;
    width:300px;
    margin-right: 225px;
}

.nav-text button{
   background: transparent;
   color: white;
   border: none;
   margin-left:25px;
   border-radius: 20px;
   border:2px solid white;
   padding: 10px 25px;
   margin-top: 10px;
}

.nav-text button:hover{
    opacity: 0.65;
}

.nav-text h1{
    margin-left:25px;
}

.nav-text p{
    margin-left:25px;
}

.hero-container{
    background: #fafafa;
    margin: 0 auto;
    padding: 0 40px;
    margin-left: 30px;

}

.hero-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top:40px;
}

.product-card{
    background: white;
    padding: 20px;
    border-radius:12px;
    flex-direction:column;
}

.product-card h3{
    margin-bottom: 10px;
}

.product-image button{
    padding:10px;
    color: white;
    border: none;
    border-radius: 25px;
    background: #1a1a1a;
}

.view-details button{
   padding: 10px;
   color: green;
   background: transparent;
   border: none;
   margin-left:25px;
   border-radius: 20px;
   border:2px solid green;

}


.promo-container{
    display: flex;
    background:linear-gradient(135deg, #059669 100%);
    padding: 80px 0;
    color: white;
    margin: 50px;
    border-radius: 12px;
    height: 450px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}


.promo-content h2{
    margin-left: 25px;
}

.promo-content p{
    margin-left: 25px;
}
.promo-img img{
    display: flex;
    flex: 1;
    height: 450px;
    width:300px;
    margin-right: 225px;
}

.promo-content button{
   background: transparent;
   color: white;
   border: none;
   margin-left:25px;
   border-radius: 20px;
   border:2px solid white;
   padding: 10px 25px;
   margin-top: 10px;
}
